__pycache__
src/__pycache__
ui/__pycache__
.env
test_env
core/__pycache__
/Files
/logs
/video
core/VDS.egg-info
app.spec
build
dist
core/VDS.egg-info
db_store
test.py
videos
*.dat
setup.ifp
.vscode
*.mp4
*.jpg
test_*.py
commit.zip
venv
