altgraph==0.17.3
anyio==3.7.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.4
colorama==0.4.6
Cython==0.29.35
cython-bbox @ git+https://github.com/samson-wang/cython_bbox@17a9209162d2107c1d2d17ea66fb2a3c7fa0c73e
cytoolz==0.12.1
dnspython==2.3.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
filelock==3.12.2
h11==0.14.0
httpcore==0.17.3
idna==3.4
Jinja2==3.1.2
lap==0.4.0
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.23.0
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
pefile==2023.2.7
Pillow==9.5.0
pymongo==4.3.3
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
sympy==1.12
toolz==0.12.0
torch @ https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp38-cp38-linux_x86_64.whl#sha256=8e9b003a1e528f474cc1905a66364a1a59ee7ddf2997a3d83cf6ac8e2e252877
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
VDS @ file:///home/pep/Drive/PCLOUD/Projects/pyqt_projects/VDS-GUI-Main
xarray==0.21.1
